img {
	align-items: center;
}

h1 {
	color: #1a1a1a;
	text-decoration: none;
}

h2 {
	color: #1a1a1a;
	text-decoration: none;
}

h3 {
	color: #1a1a1a;
	text-decoration: none;
}

h4 {
	color: #1a1a1a;
	text-decoration: none;
}

h5 {
	color: #1a1a1a;
	text-decoration: none;
}

h6 {
	color: #1a1a1a;
	text-decoration: none;
}

.dropdown-item, .dropdown-menu {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover, dropdown-item:active {
  background-color: #343a40;
  color: rgba(255, 255, 255, 1);
}

.container {
	background-color: #f7f7f9;
}

.page-footer {
	padding-top: 5px;
	margin-top: 15px;
	background-color: #343a40;
}

.footer-text {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.footer-head {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.footer-link {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.footer-link:hover, .footer-link:active {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.media {
	padding-bottom: 5px;
	margin-bottom: 15px;
	padding-top: 5px;
	margin-top: 15px;
}

.display-4 {
	color: #1a1a1a;
}

.form-control {
	background-color: white;
}

.profile-pic {
	width: 175px;
	height: 175px;
	object-fit: cover;
}

input {
	background-color: white;
}

textarea {
	background-color: white;
}
